@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
/* Shared Style */

.bg-primary {
  background: rgb(255, 248, 243);
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;

  background: rgb(253, 110, 10);
}
.description {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  /* text-align: left; */
}
/* for main shared style */
.title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  margin-bottom: 30px;
  text-align: center;
}
/* Header section with nav */
.header {
  /* margin: 0, 40px; */
  /* padding: 38px; */
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat;
  /* position: top left, bottom right;
   */
  background-position: top left, bottom right;
}
.header nav {
  padding-top: 50px;
}

.header nav h2 {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0%;
  /* text-align: left; */
}

nav {
  margin: 0 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 87px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  /* text-align: left; */
}

.navh2 {
  color: rgb(253, 110, 10);
}

/* header section and img */
.container-sec {
  display: flex;
  justify-content: space-between;
  padding-left: 230px;
  margin-top: 185px;
}
.container-sec .content {
  width: 50%;
}
.container-sec h3 {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.container-sec h2 {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.btn-contact {
  color: rgb(253, 110, 10);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  padding: 18px 24px;
  margin-left: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(253, 110, 10);
  border-radius: 5px;
}
.buttons {
  margin-top: 30px;
}

.img-sec {
  /* width: 50%;s */
  margin-right: 0;
  /* margin-left: 555px; */
}

/* Main starts */
main {
}

.main-width {
  width: 1140px;
  margin: 0 auto;
}

/* About me section */

.about {
  margin-top: 130px;
  padding: 131px 157px;
  border-radius: 10px;

  background: rgb(255, 248, 243);
}

.about-content {
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.about-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.i-do {
  margin-top: 130px;
  text-align: center;
}

.do-con {
  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.do {
  text-align: left;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

/* Resume section */
.resume {
  margin: 130px 0;
}

.res-con {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  margin-bottom: 50px;
}

.sub-title {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.inst-title {
  color: rgb(71, 71, 71);
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.stayed {
  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.edu {
  width: 49%;
}
.exp {
  width: 49%;
}

hr {
  margin: 30px 0;
}

.center {
  display: flex;
  justify-content: center;
}

/* footer section */

footer {
  padding: 130px 0;
}

.contact {
  text-align: left;
  width: 48%;
}
.f-con {
  display: flex;
  justify-content: space-between;
}

.f-title {
  color: rgb(24, 24, 24);
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
.contact-icon {
  display: flex;
  margin-top: 33px;
  gap: 14px;
}
.form {
  width: 48%;
}

.form input[type="text"],
input[type="email"] {
  /* Rectangle 16 */
  /* position: absolute; */
  width: 461px;
  height: 64px;

  color: rgb(117, 117, 117);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 5px;
  padding-left: 30px;
  margin-bottom: 24px;

  background: rgb(255, 255, 255);
}

textarea {
  border-radius: 5px;

  background: rgb(255, 255, 255);
  margin-bottom: 24px;
}
